* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.control-panel {
  width: 40vw;
  height: 40vw;
  display: grid;
}

.control-tag {
  background-color: #DDBB77;
  border: solid 4px #CCAA66;
  font-size: xx-large;
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-element {
  background-color: white;
  border: 4px solid #DDDDDD;
  font-size: xx-large;
  font-family: Helvetica, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-element-check {
  background-color: #99BBFF;
  border: 4px solid #7799DD;
}

.display {
  width: 50vw;
}

.results {
  width: 10vw;
  font-size: larger;
}